<div class="jumbotron">
    <h1>CareConnect Web API</h1>
    <p class="lead">CareConnect Web API provides API for application-level integration with select CareConnect data sources.</p>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("API &raquo;"), "Index", "Help", new { area = "" }, new { @class = "btn btn-default" })</p>
</div>